.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroText h1 {
  font-size: 55px;
  color: var(--cyanColor);
}

.heroText h2 {
  font-size: 40px;
}

.heroText h4 {
  font-size: 30px;
}

.heroText p {
  color: var(--cyanColor);
  font-size: 18px;
}

.profile_img {
  /* border-radius: 50%; */
  box-shadow: 5px 5px 15px #afbebc;
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 65vh;
  }

  .heroText h1 {
    font-size: 40px;
  }

  .heroText h2 {
    font-size: 25px;
  }

  .heroText h4 {
    font-size: 20px;
  }

  .heroText p {
    font-size: 16px;
  }

 
}